@{
    ViewData["Title"] = "Home";
}
@using AspFinalProject.Models.ViewModels;
@model HomeViewModel


<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO DRUM SHOP</div>
            <div class="title">Exclusive Drums Gold Edition.</div>
            <button class="btn-theme">SHOP NOW</button>
        </div>

        <div class="content-image">
            <a href="@Url.Action("Details", "Products", new { id = Model.Showcase.Id })" class="collection-item">
                <img src="~/images/placeholders/large@(Model.Showcase.Image)" alt="">
                <div class="body">
                    <div class="title">@Model.Showcase.Name</div>
                    <div class="info">
                        <div class="price">$@Model.Showcase.Price.ToString()!.Remove(Model.Showcase.Price.ToString()!.Length - 2)</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>
<section class="popular-collection">
    <div class="container">
        <h1 class="collection-title">Popular Drum Kits</h1>

        <div class="collection-grid">
            @foreach (var product in Model.PopularProducts.Take(8))
            {
                <!-- collection-item start -->
                <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="collection-item">
                    <img src="~/images/placeholders/@product.Image" alt="">
                    <div class="body">
                        <div class="title">@product.Name</div>
                        <div class="info">
                            <div class="price">$@product.Price.ToString()!.Remove(product.Price.ToString()!.Length - 2)</div>
                        </div>
                    </div>
                </a>
                <!-- collection-item end -->
            }
        </div>

    </div>
</section>
<section class="featured-collection">
    <div class="container">
        <h1 class="collection-title">Featured Drum Kits</h1>
        <div class="collection-grid">
            @foreach (var product in Model.FeaturedProducts.Take(9))
            {
                <!-- collection-item start -->
                <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="collection-item">
                    <img src="~/images/placeholders/@product.Image" alt="">
                    <div class="body">
                        <div class="title">@product.Name</div>
                        <div class="info">
                            <div class="price">$@product.Price.ToString()!.Remove(product.Price.ToString()!.Length - 2)</div>
                        </div>
                    </div>
                </a>
                <!-- collection-item end -->
            }
        </div>
    </div>
</section>

<section class="new-collection">
    <div class="container">
        <h1 class="collection-title">New products this week</h1>
        <div class="collection-grid">

            @foreach (var product in Model.NewProducts.Take(6))
            {
                <!-- collection-item start -->
                <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="collection-item">
                    <img src="images/placeholders/@product.Image" alt="">
                    <div class="body">
                        <div class="title">@product.Name</div>
                        <div class="info">
                            <div class="price">$@product.Price.ToString()!.Remove(product.Price.ToString()!.Length - 2)</div>
                        </div>
                    </div>
                </a>
                <!-- collection-item end -->
            }
        </div>
    </div>
</section>
<section class="newsletter">
    <div class="container">
        <form>
            <input type="text" placeholder="subscribe mail here..." maxlength="64">
            <button class="btn-theme btn-rounded"><i class="fa-sharp fa-solid fa-paper-plane fa-beat"></i></button>
        </form>
    </div>
</section>


